body{
    background-color: rgb(255, 232, 205);
    margin-left: 14px;
    margin-right: 14px;
}

.logo{
    width: 90px;
}

.nav{
    list-style:none;
    display: flex;
    float: right;
    font-size: 20px;
}

nav li{
    display:inline;
    padding: 0 10px;
    margin-top: 20px;
}

hr{
    border: 1px dotted;
}

a{
    color: rgb(255, 0, 0);
}

.canyon{
    background: url("Image/banniere.svg");
    height: 200px;
    position: relative;   
}

.boxe {
    background-color: rgba(255, 255, 255, 0.34);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

button{
    font-size: 10px;
    background-color: brown;
    float: right;
    border: none;
    color: white;
    padding: 5px;
    margin-right: 6px;
}

.retour{
    color: white;
    margin-left: 6px;
}

section{
    display: flex;
    font-size: 14px;
}

.left{
background-color:gray;
color: white;
text-align: center;
height: fit-content;
margin-top: 30px;
margin-left: 70px;
padding-left: 5px;
padding-right: 5px;
float: left;
}

.right{
    text-align: justify; 
}

footer{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-family:'Times New Roman', Times, serif;
}

.photo{
    width: 80px;
}
